*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
}
section{
    margin-bottom: 100px;
}

nav{
    background: black;
    color: white;
    display: flex;
    
  
}
.leftside{
    width: 50%;
}
.right-side{
    width: 50%;
}
.right-side ul{
    display: flex;
flex-direction: row-reverse;
     padding: 0px 20px;
}
.nav-link{
    font-style: italic;
    font-size: 60px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    border-right: 4px solid tomato;
    letter-spacing: 4px;
  
   
}
.right-side ul li{
    list-style: none;
    padding: 20px;
    text-align: end;
    
}
.right-side ul li:hover{
    color: bisque;
      cursor:url(images/cursor.png), pointer;
}


/* nav section ends here */


/* banner design start here */

#banner-section{
display: flex;

background: black;
color: white;
padding: 5%;

}
.half-banner{
 width: 50%;
  padding-bottom: 5%;

}
small{
  color: tomato;
  font-size: 18px;
  
}
.half-banner h1{
font-size:70px;
letter-spacing: 3px;
 
 
}
.half-banner p{
word-spacing: 4px;
line-height: 26px;
margin: 10px;

}
.half-banner img{
    width: 100%;
}
button{
    background: rosybrown;
    color: aliceblue;
    padding: 15px 20px;
    margin: 10px auto;
    transition: 1s;
    font-size: 20px;
}
button:hover{
    background-color: rgb(94, 58, 89);
}

/* banner design ends here */

#take-section{

}
#take-section h2{
    font-size: 57px;
    text-align: center;
    margin-bottom: 100px;
}

.take-card{
 display: flex;
 margin: 0 auto;
}
.card-singlebox{
  max-width: 300px;
  text-align: center;
  box-shadow: 2px 1px 8px 3px rgb(243 235 235);
  padding: 20px;
  margin: 40px;
 
  border-radius: 5px;
}
.card-singlebox:hover{
   transform: scale(1.1);
   transition: 2s;
   border: .5px solid orangered;
}

.card-img img{
    width: 19%;
    
}
.card-desc p{
    text-align: justify;
    line-height: 25px;
    word-spacing: 2px;
}
.card-link{
    margin-bottom: 20px;
}


/* about us section design starts here */

#about-section{
background: black;
color: white;
}
#about-section h3{
    font-size: 57px;
    text-align: center;
}

.about-card{
   display: flex;
   padding: 2%;
   
} 
 .about-img img{
   
 }
.about-desc h4{
     font-size: 40px;
}
.about-desc p{
    margin-bottom: 10px;
    line-height: 28px;
    word-spacing: 3px;

}
.about-desc ul li{
 margin: 10px;
}
  
   
/* inquiry section design */

#inquiry{
        display: flex;
         max-width: 50%;  
         margin:2% auto;
         padding:2% 5%;
    background: url(images/shape/Group_33094_1.png);
     
   

}
 .inquiry-title h4{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 29px;
    
     
 }

 .inquiry-title{
    width: 50%;
 }
 .inquiry-btn{
    width: 50%;
     margin: 20px auto;
 }
  

 /* services design starts */


 #services-section{

 }
 #services-section h4{
    font-size: 50px;
    text-align: center;
 }